@font-face {
    font-family: 'Work Sans', sans-serif;
    src: url(heavy_dock11.oft);
}

@viewport {
    user-zoom: fixed;
}

body {
    background-image: url("https://media2.giphy.com/media/Ju7l5y9osyymQ/200.gif");
    background-size: 200px;
    background-position: center;
    background-color: rgb(42, 41, 44);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.emboss-txt {
    position: relative;
    font-size: 55px;
    font-family: Work Sans;
    letter-spacing: 2px;
    color: rgb(241, 241, 255);
    text-shadow: 0px 0px 1px grey, 0px 1px 1px grey, 0px 2px 1px grey, 1px 1px 1px grey, 1px 2px 1px grey, 1px 3px 1px grey, 2px 2px 1px grey, 2px 3px 1px grey, 2px 4px 1px grey, /*long soft bottom*/
    1px 10px 25px rgba(0, 0, 0, 0.8), 1px 10px 40px rgba(0, 0, 0, 0.8), /*short soft bottom*/
    0px 5px 5px rgba(0, 0, 0, 0.8), /*left shadow*/
    -5px 5px 20px rgba(0, 0, 0, 0.8), /*right shadow*/
    5px 5px 20px rgba(0, 0, 0, 0.8), /*white light*/
    1px 1px 25px rgba(255, 255, 255, 0.5);
}

.emboss-txt::after {
    content: "GET STICK BUGGED";
    font-size: 55px;
    letter-spacing: 2px;
    font-family: Work Sans;
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 0px 0px 20px rgba(11, 124, 199, 0.5);
    animation: cycle 3000ms linear infinite
}

@keyframes cycle {
    0% {
        text-shadow: 0px 0px 20px rgb(255, 0, 0);
    }
    33% {
        text-shadow: 0px 0px 20px rgb(0, 255, 0);
    }
    66% {
        text-shadow: 0px 0px 20px rgb(0, 0, 255);
    }
    100% {
        text-shadow: 0px 0px 20px rgb(255, 0, 0);
    }
}
